@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MyLDS Movie</h1>
    

    <div id="innerdiv">
        <ul>

            <li>Historical facts about the Church of Jesus Christ of Latter Days Saints</li>
            <li>Family-friendly movies</li>
            <li>Inspirational histories and accounts</li>
            <li>Open-source database for the public.</li>
        </ul>
    </div>
</div>

<div class="mod text-center">
    <p>Find your favorite Latter-Day-Saints movies in our list:</p>
    <a class="btn btn-dark" href="/Movies">Start</a>
</div>