@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>MyLDS Movie is an open-source project. You may contribute with content that does not denigrate anyone or any organization.</p>
